@window-background-color: #e7bd7f;

body {
    background-color: #f5eded;
    margin: 10px;
    font-family: monospace;
}

.inline {
    display: inline-block;
}

.cent-content {
    text-align: center;
}

.form-border {
    border-radius: 5px;
    box-shadow: 7px 5px 5px grey;
}

.submit-form {
    padding: 30px;
    background-color: @window-background-color;
}

.no-borders {
    border: none;
}

.greeting {
    display: block;
    padding: 6px;
    background-color: rgba(239, 205, 154, 0.69);
    border-radius: 10px 10px / 12px;
}

.midd-font-size {
    font-size: 19px;
}

.bolded {
    font-weight: bold;
}

.not-visible {
    display: none;
}
