body {
  background-color: #f5eded;
  margin: 10px;
  font-family: monospace;
}
.inl-bl {
  display: inline-block;
}
.cent-content {
  text-align: center;
}
.form-border {
  border-radius: 5px;
  box-shadow: 7px 5px 5px grey;
}
.submit-form {
  padding: 30px;
  background-color: #e7bd7f;
}
.no-borders {
  border: none;
}
.greeting {
  padding: 6px;
  background-color: #e7bd7f;
  border-radius: 10px 100px / 120px;
}
.midd-font-size {
  font-size: 19px;
}
